@import '../../style/variables';

.c {
  margin-left: $gap-sm;
  border-bottom: none;
  display: inline-block;

  span {
    width: $contact-size;
    height: $contact-size;
    background: $color-red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    svg {
      width: $contact-icon-size;
      height: $contact-icon-size;
      fill: $color-white;
    }
  }

  &:hover {
    span {
      top: -2px;
    }
  }

  &:first-child {
    margin-left: 0;
  }
}
