@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Tajawal:wght@500&display=swap');
@import './variables';

* {
  box-sizing: border-box;
}

html, body {
  font-family: $fam-serif;
  font-size: $font-md;
  font-weight: 400;
  color: $color-dark;
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 -1px;
  font-family: $fam-sans;
  font-weight: 500;
  color: $color-red;
}
h1 {
  font-size: $font-x3l;
}
h2 {
  font-size: $font-x2l;
}
h3 {
  font-size: $font-xl;
}
h4 {
  font-size: $font-lg;
}
h5 {
  font-size: $font-md;
}
h6 {
  font-size: $font-sm;
}

b {
  font-weight: 900;
}

// Pane
.p {

}

// Contact
.c {
  margin-left: $gap-sm;
  border-bottom: none;
  display: inline-block;

  span {
    width: $contact-size;
    height: $contact-size;
    background: $color-red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    svg {
      width: $contact-icon-size;
      height: $contact-icon-size;
      fill: $color-white;
    }
  }

  &:hover {
    span {
      top: -2px;
    }
  }

  &:first-child {
    margin-left: 0;
  }
}

// Experience
.e {
  padding: $gap-sm 0 $gap-sm $gap-md;
  border-left: 4px solid $color-light;
  position: relative;

  &::before {
    content: "";
    width: 12px;
    height: 12px;
    background: $color-red;
    border-radius: 50%;
    position: absolute;
    top: 28px;
    left: -38px;
  }

  h4 {
      margin: 0;
  }

  h5 {
      margin: -3px 0;
      color: $color-gray;
  }
}

// Skill
.s {

}
