@import './variables';
@import './utils';


// Elements

* {
  font-family: $fam-sans;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: $-font-base;
  font-weight: $weight-normal;
  color: $color-dark;
  background: $color-white;
  line-height: $line-height;
  word-spacing: $word-spacing;

  @media screen and (prefers-color-scheme: dark) {
    color: dark-mode($color-dark);
    background: dark-mode($color-white);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: $fam-sans;
  font-weight: $weight-bold;
  color: $color-red;
}
h1 {
  margin-left: - $gap-x2s;
  font-size: $font-x3l;
}
h2 {
  margin-left: - $gap-x2s;
  font-size: $font-x2l;
}
h3 {
  font-size: $font-xl;
}
h4 {
  font-size: $font-lg;
}
h5 {
  font-size: $font-md;
}
h6 {
  font-size: $font-sm;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted rgba($color-gray, .5);

  @media screen and (prefers-color-scheme: dark) {
    border-color: dark-mode($color-gray);
  }
}

b {
  font-weight: $weight-bold;
}


// Reusable

.subtitle {
  color: $color-gray;
  text-transform: uppercase;
  font-weight: $weight-bold;

  @media screen and (prefers-color-scheme: dark) {
    color: dark-mode($color-gray);
  }
}

.input {
  padding: $gap-xs $gap-sm;
  color: inherit;
  background: $color-light;
  border-radius: $gap-xs;
  outline: none;
  border: 0;

  @media screen and (prefers-color-scheme: dark) {
    background: dark-mode($color-light);
  }
}

.bull {
  &::before {
    content: '•';
    margin: 0 $gap-sm;
    display: inline-block;
  }
}

.container {
  max-width: $container-max-width;
  padding: 0 $gap-md;
  margin: 0 auto;
}

.section {
  margin: 1.5 * $gap-xl 0;
  position: relative;

  h2 {
    margin: 0 0 $gap-md;
    font-size: $font-xl;
  }

  @media print {
    margin: 0 0 $gap-lg;
  }
}

.hide-print {
  @media print {
    display: none;
  }
}


// Single-use

.intro {
  h1 {
    margin: $gap-md 0 $gap-sm;
  }

  h4 {
    font-size: $font-md;
  }

  p {
    max-width: $container-max-width / 1.5;
    margin: $gap-md 0 $gap-lg;
  }
}

.contact {
  margin-left: $gap-md;
  border-bottom: none;
  display: inline-block;
  @include transition(top $transition-short);

  .icon {
    width: $contact-size;
    height: $contact-size;
    box-shadow: inset 0 0 0 $gap-xl $color-red;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    @include transition(top $transition-short);

    svg {
      width: $contact-icon-size;
      height: $contact-icon-size;
      fill: $color-white;

      @media screen and (prefers-color-scheme: dark) {
        fill: dark-mode($color-white);
      }
    }
  }

  .text {
    margin: 5px $gap-md 5px $gap-sm;
    border-bottom: 1px dotted rgba($color-gray, .5);
    display: none;
    vertical-align: top;

    @media print {
      display: inline-block;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    span {
      top: - $gap-x2s;
    }
  }
}

.experience {
  margin-top: -$gap-sm;
  padding: $gap-sm 0 $gap-md $gap-md;
  border-left: $gap-xs solid $color-light;

  &.company {
    margin-top: 0;
  }

  &:first-child {
    padding-top: $gap-sm;
  }

  h3 {
    margin: 0 0 $gap-md;
    font-size: $font-lg;
  }

  h4 {
    margin: 0 0 $gap-sm;
    font-size: $font-sm;
    position: relative;

    &:first-child {
      margin-top: 1.5 * $gap-xs;
    }

    &::before {
      content: '';
      width: 1.5 * $gap-sm;
      height: 1.5 * $gap-sm;
      box-shadow: inset 0 0 0 $gap-xl $color-gray;
      border-radius: 50%;
      position: absolute;
      top: 6px;
      left: - ($gap-md + .75 * $gap-sm + .5 * $gap-xs);

      @media (min-width: $container-max-width) {
        & {
          left: - ($gap-lg + .75 * $gap-sm + .5 * $gap-xs);
        }
      }

      @media screen and (prefers-color-scheme: dark) {
        box-shadow: inset 0 0 0 $gap-xl dark-mode($color-gray);
      }
    }
  }

  @media (min-width: $container-max-width) {
    & {
      padding-left: $gap-lg;
    }
  }

  @media screen and (prefers-color-scheme: dark) {
    border-color: dark-mode($color-light);
  }
}

.search {
  width: $gap-xl;
  font-size: $font-sm;
  position: absolute;
  top: 10px;
  right: 0;
  @include transition(width $transition-short);

  &:focus {
    width: 1.5 * $gap-xl;
  }
}

.skill {
  margin: $gap-sm $gap-sm 0 0;
  padding: $gap-x2s $gap-sm;
  box-shadow: inset 0 0 0 $gap-xl $color-light;
  border-radius: $gap-xs;
  display: inline-block;
  @include transition(opacity $transition-short);

  &.hidden {
    opacity: .33;
  }

  @media screen and (prefers-color-scheme: dark) {
    box-shadow: inset 0 0 0 $gap-xl dark-mode($color-light);
  }
}

.footer {
  font-size: $font-sm;
  color: $color-gray;

  @media screen and (prefers-color-scheme: dark) {
    color: dark-mode($color-gray);
  }
}
