@function power($base, $exponent) {
  $result: 1;
  @if $exponent < 0 {
    $base: 1 / $base;
    $exponent: - $exponent;
  }
  @for $i from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}

@function dark-mode($color) {
  @return scale-color(invert($color), $lightness: 5%);
}

@mixin transition($value...) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}
