$gap-xs: 10px;
$gap-sm: 15px;
$gap-md: 30px;
$gap-lg: 45px;
$gap-xl: 90px;

$fam-sans: 'Tajawal', sans-serif;
$fam-serif: 'Merriweather', serif;

$font-xs: 11px;
$font-sm: 13px;
$font-md: 15px;
$font-lg: 17px;
$font-xl: 20px;
$font-x2l: 26px;
$font-x3l: 40px;

$color-light: #D0D0D0;
$color-gray: #8F8F8F;
$color-dark: #333333;
$color-red: #CA3939;
$color-white: #F5F5F5;

$line-height: 1.8;

$border-radius: 8px;

$logo-size: 80px;
$contact-size: 38px;
$contact-icon-size: 20px;
