$-font-base: 15px;
$-font-ratio: 1.2;

$gap-xs: 10px;
$gap-sm: 15px;
$gap-md: 30px;
$gap-lg: 45px;
$gap-xl: 90px;

$fam-sans: 'Tajawal', sans-serif;
$fam-serif: 'Merriweather', serif;

$font-xs: $-font-base / $-font-ratio / $-font-ratio;
$font-sm: $-font-base / $-font-ratio;
$font-md: $-font-base;
$font-lg: $-font-base * $-font-ratio;
$font-xl: $-font-base * $-font-ratio * $-font-ratio;
$font-x2l: $-font-base * $-font-ratio * $-font-ratio * $-font-ratio;
$font-x3l: $-font-base * $-font-ratio * $-font-ratio * $-font-ratio * $-font-ratio;

$color-light: #D0D0D0;
$color-gray: #8F8F8F;
$color-dark: #333333;
$color-red: #CA3939;
$color-white: #F5F5F5;

$line-height: 1.8;

$border-radius: 8px;

$logo-size: 80px;
$contact-size: 38px;
$contact-icon-size: 20px;
