@import '../../style/variables';

.e {
  padding: $gap-sm 0 $gap-sm $gap-md;
  border-left: 4px solid $color-light;
  position: relative;

  &::before {
    content: '';
    width: 12px;
    height: 12px;
    background: $color-red;
    border-radius: 50%;
    position: absolute;
    top: 28px;
    left: -38px;
  }

  h4 {
      margin: 0;
  }

  h5 {
      margin: -3px 0;
      color: $color-gray;
  }
}
