@import 'variables';

/* Elements */

* {
    font-weight: 400;
    box-sizing: border-box;
    font-display: swap;
}

html, body {
    font-family: $font-serif;
    font-size: $font-size-sm;
    color: $color-dark-gray;
    line-height: 1.8;
    opacity: 1;
    -webkit-transition: opacity $animation-delay;
    -moz-transition: opacity $animation-delay;
    -o-transition: opacity $animation-delay;
    transition: opacity $animation-delay;

    &.modal {
        overflow: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0 -1px;
    font-family: $font-sans;
    font-weight: 500;
    color: $color-red;
}
h1 {
    font-size: $font-size-h1;
}
h2 {
    font-size: $font-size-h2;
}
h3 {
    font-size: $font-size-h3;
}
h4 {
    font-size: $font-size-h4;
}
h5 {
    font-size: $font-size-h5;
}

a {
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed $color-light-gray;
    -webkit-transition: border-color $animation-delay;
    -moz-transition: border-color $animation-delay;
    -o-transition: border-color $animation-delay;
    transition: border-color $animation-delay;

    &:hover {
        border-color: $color-mid-gray;
    }
}



/* Shared */

.gap {
    &-t-sm {
        margin-top: $space-sm;
    }
    &-b-sm {
        margin-bottom: $space-sm;
    }

    &-t-md {
        margin-top: $space-md;
    }
    &-b-md {
        margin-bottom: $space-md;
    }
}

.pad {
    &-md {
        padding: $space-md;
    }

    &-t-xl {
        padding-top: $space-xl;
    }
    &-b-xl {
        padding-bottom: $space-xl;
    }
}

.hidden {
    display: none;
}



/* Specifics */

.logo {
    width: $logo-size;
    height: $logo-size;
}

.heading {
    margin: $space-lg 0 $space-xs;

    h1 {
        margin: 0 0 0 -2px;
        letter-spacing: -0.5px;
    }

    h3 {
        margin: -$space-sm 0 0;
        color: $color-mid-gray;
    }
}

.description {
    margin-bottom: $space-lg;
    font-size: $font-size-h5;
}

.contact {
    a {
        margin-right: $space-sm;
        border-bottom: none;
        display: inline-block;

        i {
            width: $contact-size;
            font-size: $font-size-h5;
            color: $color-white;
            text-align: center;
            line-height: $contact-size;
            background: $color-red;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            -webkit-transition: top $animation-delay;
            -moz-transition: top $animation-delay;
            -o-transition: top $animation-delay;
            transition: top $animation-delay;
        }

        &:hover {
            i {
                top: -2px;
            }
        }
    }
}

.time {
    padding-left: $space-md;
    border-left: 4px solid $color-light-gray;

    .point {
        padding: $space-sm 0;
        position: relative;

        &::before {
            content: "";
            width: 12px;
            height: 12px;
            background: $color-red;
            border-radius: 50%;
            position: absolute;
            top: 28px;
            left: -38px;
        }

        .title {
            margin-bottom: $space-xs;

            h4 {
                margin: 0;
            }

            h5 {
                margin: -3px 0;
                color: $color-mid-gray;
            }
        }
    }
}

.searchbox {
    margin: 0 0 $space-sm;
    padding: 4px;
    width: 100%;
    font-family: $font-sans;
    background: transparent;
    color: $color-red;
    border: 0 solid $color-light-gray;
    border-width: 0 0 1px;
    outline: none;
    position: relative;
    top: -$space-xs;

    @media only screen and (min-width: 48em) {
        margin: 14px 0 0;
        top: 0;
    }
}

.tag {
    margin: 0 (-$space-xs) (-$space-xs) 0;
    padding: 0;
    font-size: 0;
    list-style-type: none;

    li {
        margin: 0 $space-xs $space-xs 0;
        padding: 3px 8px;
        font-size: $font-size-sm;
        background: $color-light-gray;
        display: inline-block;
        border-radius: $border-radius;

        &.fade {
            opacity: 0.3;
        }
    }
}

.footer {
    font-size: $font-size-xs;
    color: $color-mid-gray;
}
