$color-light-gray: #D0D0D0;
$color-mid-gray: #8F8F8F;
$color-dark-gray: #282828;
$color-red: #CA3939;
$color-white: #F5F5F5;

$font-sans: 'Tajawal', sans-serif;
$font-serif: 'Merriweather', serif;

$font-size-xs: 13px;
$font-size-sm: $font-size-xs + 2px;
$font-size-h5: $font-size-sm + 2px;
$font-size-h4: $font-size-h5 + 3px;
$font-size-h3: $font-size-h4 + 2px;
$font-size-h2: $font-size-h3 + 4px;
$font-size-h1: $font-size-h2 + 14px;

$space-xs: 10px;
$space-sm: 15px;
$space-md: 30px;
$space-lg: 45px;
$space-xl: 90px;

$border-radius: 8px;

$animation-delay: 300ms;

$logo-size: 80px;
$contact-size: 37px;
