$animation-delay: 200ms;

$border-radius: 5px;

$contact-size: 36px;

$color-light-gray: #ddd;
$color-mid-gray: #a5a5a5;
$color-red: #c33;
$color-white: #f0f0f0;

$font-sans: 'Tajawal', sans-serif;
$font-serif: 'Roboto Slab', serif;

$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-h5: $font-size-sm + 2px;
$font-size-h4: $font-size-h5 + 2px;
$font-size-h3: $font-size-h4 + 5px;
$font-size-h2: $font-size-h3 + 2px;
$font-size-h1: $font-size-h2 + 11px;

$logo-size: 100px;

$space-xs: 10px;
$space-sm: 15px;
$space-md: 30px;
$space-xl: 100px;
